
<div class="">
  <div class="">
    <div class="panel">
      {{ drupal_block('dlaw_report_summary') }}

      {{ drupal_block('dlaw_report_page_views') }}

      {{ drupal_block('dlaw_report_popular_pages') }}
    </div>

  </div>
</div>
